#basic_company_clients
:javascript
  s6_dates=#{@company_clients.keys}
  s6_values=#{@company_clients.values}
  $(function () {
        $('#basic_company_clients').highcharts({
            chart: {
                plotBackgroundColor: "#dddddd",
                borderWidth:1,
                borderColor:"#dddddd",

                type: 'spline',
                marginRight: 130,
                marginBottom: 40
            },
            credits: {
              href: "http://radar.sme.gov.cn/",
              text: "征信中心"
            },

            title: {
              text: '#{@company_clients.keys.first}到#{@company_clients.keys.last}',
                x: -20 //center
            },
            subtitle: {
                text: '企业增长概况',
                x: -20
            },
            xAxis: {
              labels: {rotation: -25,	align: 'right',	style: { font: 'normal 13px Verdana, sans-serif'}},
              categories: s6_dates 
            },
            yAxis: {
                title: {
                    text: '企业数(家)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '家'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [{
                name: '企业增长',
                data: s6_values
            }]
        });
    });
    
