- values = @average_companies_income_by_nature_yearly.values
#business_average_companies_income_by_nature_yearly.chart-height
:javascript
  categories=#{@average_companies_income_by_nature_yearly.keys}
  the_year_before_last =#{values.map{|h|h["前年"]}} 
  last_year =#{values.map{|h|h["去年"]}} 
  this_year =#{values.map{|h|h["今年"]}} 

  $(function () {
    $('#business_average_companies_income_by_nature_yearly').highcharts({
      chart: {
                plotBackgroundColor: "#dddddd",
                borderWidth:1,
                borderColor:"#dddddd",
                type: 'bar'
          },
            credits: {
              href: "http://radar.sme.gov.cn/",
              text: "征信中心"
            },

            title: {
              text: '年度平均销售收入'
            },
            subtitle: {
              text: '(按公司性质分)'
            },
            xAxis: {
              categories: categories,
                title: {
                  text: null
                }
            },
            yAxis: {
              min: 0,
                title: {
                  text: '销售收入 (万元人民币)',
                    align: 'high'
                },
                labels: {
                  overflow: 'justify'
                }
            },
            tooltip: {
              valueSuffix: '万元'
            },
            plotOptions: {
              bar: {
                dataLabels: {
                  enabled: true
                    }
                }
            },
            legend: {
              layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -100,
                y: 100,
                floating: true,
                borderWidth: 1,
                backgroundColor: '#FFFFFF',
                shadow: true
            },
            credits: {
              enabled: false
            },
            series: [{
              name: '前年',
                data: the_year_before_last
            }, {
              name: '去年',
                data: last_year 
            }, {
              name: '今年',
                data: this_year 
            }]
        });
    });
