<footer>
<div class="container">
  <div class="row">
    <div class="span6">
      <h3 class="footer-title">关注我们</h3>
      <p> 优化融资环境 助力企业成长 </p>

      <a class="footer-brand" href="http://designmodo.com" target="_blank">
        <%#= image_tag "logo.png"%>
      </a>
      <p> <a href="http://www.goojoo.cn/" target="_blank">北京冠捷时速信息咨询有限责任公司</a> </p>
    </div> <!-- /span8 -->

    <div class="span6" style="width:420px;float:right">
      <div class="footer-banner">
        <h3 class="footer-title">征信中心</h3>
        <ul>
          <!--li>主办单位：中华人民共和国工业和信息化部</li>
          <li>指导单位：工业和信息化部中小企业司</li>
          <li>合作单位：北京冠捷时速信息咨询有限责任公司</li-->
          <li>承办单位：北京中小在线信息服务有限公司</li>
          <li>联系方式：rz@sme.gov.cn</li>
        </ul>
        融资平台: <a href="http://rongzi.sme.gov.cn" target="_blank">rongzi.sme.gov.cn</a>
        <p style="margin-top:10px;margin-left:65px">
        <a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备12018716号</a>
        </p>
      </div>
    </div>
  </div>
</div>
</footer>
