角色
  游客                        guest
  系统管理者                  admin
  银行客户经理（用户）        member
  客服经理                    cs_manager
  客服                        cs
  水电号提供者                cs_supporter
  
Story:
  银行客户经理 
    申请查看     全部公司客户                        水电信息
    申请查看     某个公司客户                        水电信息
    查看         公司客户                           水电信息(通过审核)
    添加         某个公司客户                        水电账户
  
Story:
  客服经理 
    查看         所有申请查看水电信息                银行客户经理
    查看         所有申请了水电信息                  公司
    添加         某个公司                            水电账户
    分配         某(几)个银行客户经理添加水电信息    客服
    分配         某(几)个公司添加水电信息            客服
    审核         某(几)个客服添加的水电信息 
    审核         某(几)个公司的水电信息

Story:
  客服 
    查看         所有申请查看水电信息                银行客户经理
    查看         所有申请了水电信息                  公司
    添加         某个公司                            水电账户
    添加         某个公司水电账户                    水电信息(未审核)

Story:
  水电号提供者
    查看         所有申请查看水电信息                银行客户经理
    查看         所有申请了水电信息                  公司
    添加         某个公司                            水电账户
