.row
  .span9
    .page-header
      %h2
        消息中心
    - total_count = current_user.company_clients.count
    - unfinished_count = current_user.unfinished_companies.count
    - total_listfile_count = current_user.list_files.count
    .infoline
      * 当前系统中共有客户
      = total_count
      个。
    .infoline
      上传文件
      = total_listfile_count
      个。
  .span3
    = render "shared/clients/sidebar_manage"
