#global_companies_court_by_owner

:javascript
  companies_court_by_owner = #{@js_companies_court_by_owner}
  $(function () {
        $('#global_companies_court_by_owner').highcharts({
            chart: {

                plotBackgroundColor: "#dddddd",
                borderWidth:1,
                borderColor:"#dddddd",
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            credits: {
              href: "http://radar.sme.gov.cn/",
              text: "征信中心"
            },
            title: { text: '企业及企业主被执行比例统计' },
            tooltip: {
              formatter: function(){
                return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +' %';
              }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +' %';
                        }
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: '占被执行客户总数',
                data: companies_court_by_owner 
            }]
        });
    });
   

