- [:companies_court,
  :companies_court_by_area,
  :companies_court_by_industry,
  :companies_court_by_owner,
  :companies_court_by_execute_count ].each do |tab|
  = render "statistics/global/#{tab}"



