%li 
  = link_to  "/workflow/admin/workflows/edit" do
    %i.icon-tags.icon-white
    工作流程
  %ul.nav.nav-list
    %li                                      
      = link_to "跟踪标签", "/workflow/admin/trackers"
    %li                                      
      = link_to "工作状态", "/workflow/admin/statuses"
