- if company.credit
  %table.table.table-striped.table-bordered
    - attr_arr = [:name, :count, :tech, :memo]
    %tbody
      %tr
        %th{:colspan=>4}
          生产，研发，经营使用的主要设备
  
      %tr
        - attr_arr.each do |item|
          %th= Equip.human_attribute_name(item)
      - company.credit.equips.each do |p|
        %tr
          - attr_arr.each do |item|
            %td= p.send(item)
      
