- if company.credit 
  - if company.credit.operators.blank?
    - company.credit.operators.build
  - company.credit.operators.each do |p|
    %table.table.table-striped.table-bordered
      - owner_attrs .each do |item|
        %tr
          %td.span2
            = Operator.human_attribute_name(item)
          %td.span4
            = p.send(item).respond_to?(:text) ? p.send(item).try(:text) : p.send(item)
