.row
  .span12
    = render "shared/company_client_info_nav"
    .manage-clients-box
      %ul.nav.nav-tabs#exporter-tab
        %li{class: selected(params[:tab], :blank)}
          = link_to '法务导出', exporters_path
        /%li{class: selected(params[:tab],"export-relationships")}
        /= link_to '关联方导出',exporters_path(:tab=>"export-relationships")

    .tab-content
      - if params[:tab].blank?
        = render "crime_exporter"
        /- if params[:tab].eql?("export-relationships")
        /  = render "relationship_exporter"


