/*
 *= require_self
 *= require bootstrap-editable
 */
@import 'flat-ui'
.tip
  height: 30px
  line-height: 30px
  color: $form-color
  padding-left: 20px

span.more
  float: right
  margin-right: 20px
  a
    text-decoration: none
    color: $gray

.navbar .container 
  width: 940px

.navbar-inner
  border-radius: 0px
  .nav 
    margin-top: 3px
.todo-search
  border-radius: 0px
  .control-group
    margin-bottom: 0px
.logo
  &:hover
    color: #D61818
  text-decoration: none
  font-weight: 700
  color: #D61818
  background: white
  float: left
  display: block
  width: 200px
  padding: 0
.search-form
  height: 40px
  width: 200px
  float: left
.company_nav
  padding-top: 10px
  padding-bottom: 10px
  margin-bottom: 20px
  border-radius: 6px
  background: $form-color
  a
    text-decoration: none
    text-shadow: none
    color: $info
    &:hover 
      background-color: $info
.company-clients-list 
  a 
    text-decoration: none
    text-shadow: none
  .badge a
    color: white 
.select-icon 
  background: #1abc9c url("/assets/select/toggle.png") no-repeat right center
form .dk_options 
  width: 100%
.one-company-in-tr 
  td.alarm
    padding: 0
  .badge
    text-align: center
    padding: 0
    margin: 0
    float: left
    display: block
    height: 37px 
    width: 35px
    line-height: 37px
    border-radius: 0px
.nav .icon-chevron-right 
  float: right
  margin-top: 4px
  margin-right: -6px
  opacity: .25

.nav .active .icon-chevron-right 
  opacity: 1




