= simple_form_for @credit, :html => {:class => 'form-horizontal'} do |f|
  %legend
    联络信息
  - attr_arr = [:reg_address, :reg_zip, :opt_address, :opt_zip, :zone, :industry, :tel, :fax, :email]
  - attr_arr.each do |item|
    = f.input item
  .form-actions
    = f.submit "保存信息", class: "btn btn-primary"